.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle{
  width: 30px;
  height: 30px;
}
.card{
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #f2f7ff;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content:space-around;
  margin-top: 70px;
  border-radius: 20px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.circles{
  display:flex;
  justify-content: space-around;
  flex-direction: column;
}
.buttons{
  margin-top: 30px;
  display: flex;
  width: 500px;
  justify-content: space-between;
  padding: 7px;
}
.calculateButton{
  width: 70%;
  color: #494949 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949 !important;
  border-radius: 6px;
  display: inline-block;
}
.calculateButton:hover {
  color: #ffffff !important;
  background: #4d648d ;
  border-color: #4d648d  !important;
  transition: all 0.4s ease 0s;
}
.placePortButton{
  width: 25%;
  color: #494949 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949 !important;
  border-radius: 6px;
  display: inline-block;
}
 .placePortButton:hover {
   color: #ffffff !important;
   background: #4d648d ;
   border-color: #4d648d  !important;
   transition: all 0.4s ease 0s;
 }
.closeButton{
  width: 10px;
  height: 10px;
}
.modalContent{
  width: 100%;
  display: flex;
  flex-direction: row ;

}
.circuitItems{
  flex:1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.chosenItem{
  flex:4 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.chosenItemImage{
  width: 200px;
  height: 200px;
}
.circuitItem{

  margin: 10px 0;
}
.circuitItemInputs{
  display: flex;
  flex-direction: row;
  align-items: center;
}
input[type="text"] {
  width: 170px;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 10px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
